---
# vim: ts=2:sw=2:sts=2:et:ft=yaml.ansible
#
# Configure SELinux
#
########################################################################

- name: Check if SELinux is available
  ansible.builtin.shell:
    cmd: which getenforce || command -v getenforce
  register: selinux_check_reg
  changed_when: false
  failed_when: false

- name: SELinux is available
  ansible.builtin.set_fact:
    selinux_available: true
  when:
  - selinux_check_reg['rc'] == 0

- name: SELinux is unavailable
  ansible.builtin.set_fact:
    selinux_available: false
  when:
  - selinux_check_reg['rc'] != 0

- name: Enable SELinux
  ansible.posix.selinux:
    policy: targeted
    state: enforcing
  become: true
  when: selinux_available

- name: Load SELinux variables if SELinux is available
  ansible.builtin.include_vars: vars/sudo/selinux.yml
  when: selinux_available
