---
# vim: ts=2:sw=2:sts=2:et:ft=yaml.ansible
#
# Switch to the new Ansible user and disable ssh login for root.
#
########################################################################

- name: New user can connect to the host
  ansible.builtin.ping:
  vars:
    ansible_user: "{{new_ansible_user}}"

- name: New user can escalate privileges (become method)
  ansible.builtin.shell:
    cmd: true
  changed_when: false
  become: true
  vars:
    ansible_user: "{{new_ansible_user}}"

- name: Save old Ansible user name before updating to new user
  ansible.builtin.set_fact:
    old_ansible_user: "{{ansible_user}}"

- name: Set new Ansible user
  ansible.builtin.set_fact:
    ansible_user: "{{new_ansible_user}}"
  changed_when: old_ansible_user != new_ansible_user
  notify: save host vars
