[Match]

{% if current_iface['mac_addr'] is defined %}
PermanentMACAddress={{iface_item['mac_addr']}}
{% elif current_iface == iface_item %}
Name={{current_iface['dev']}}
{% elif current_iface == vlan_item | default({}) %}
Name={{vlan_item['dev']}}
{% endif %}

[Link]

MTUBytes={{current_mtu}}
ActivationPolicy=up

[Network]

{% if current_iface['description']
      | default(current_net['description']) is defined %}
Description={{ current_iface['description'] | default(current_net['description']) }}
{% endif %}
LinkLocalAddressing=no
{% if current_iface['net'] is defined and
      current_iface_ip not in ['dhcp', ''] %}
Address={{current_iface_ip}}/{{current_mask}}
{% elif current_iface_ip == 'dhcp' %}
DHCP=ipv4
{% endif %}
{% for vlan in current_iface['vlan'] | default([]) %}
VLAN=vlan{{nets[vlan]['id']}}
{% endfor %}
{% if current_iface_ip == 'dhcp' %}
[DHCPv4]

ClientIdentifier=duid

{% endif %}
{% if current_net['route'] is defined %}
[Route]
{% for route in current_net['route'] | default([]) %}
Destination={{route['dest']}}
Gateway={{route['hop']}}
{% endfor %}
{% endif %}
