[Match]

{% if iface['hw_addr'] is defined %}
PermanentMACAddress={{iface['hw_addr']}}
{% else %}
Name={{iface['dev']}}
{% endif %}

[Link]

MTUBytes={{iface['mtu']}}
ActivationPolicy=up

[Network]

{% if iface['description'] is defined %}
Description={{iface['description']}}
{% endif %}
LinkLocalAddressing=no
{% if iface['dhcp4'] %}
DHCP=ipv4
{% elif iface_ip4 != '' %}
Address={{iface_ip4}}/{{iface['prefix4']}}
{% endif %}
{% for vlan in iface['vlans'] | default([]) %}
VLAN=vlan{{site_subnets[vlan]['subnet_id']}}
{% endfor %}
{% if iface['dhcp4'] %}
[DHCPv4]

ClientIdentifier=duid

{% endif %}
{% for route in iface['routes'] | default([]) %}
[Route]
Destination={{route['dest']}}
Gateway={{route['hop']}}

{% endfor %}
