[Match]

{% if iface['hw_addr'] is defined %}
PermanentMACAddress={{iface['hw_addr']}}
{% else %}
OriginalName={{iface['dev']}}
{% endif %}

[Link]

{% if iface['description'] is defined %}
Description={{iface['description']}}
{% endif %}
{% if iface['rand_mac'] %}
MACAddressPolicy=random
{% else %}
MACAddressPolicy=persistent
{% endif %}
