[NetDev]

{% if iface['description'] is defined %}
Description={{iface['description']}}
{% endif %}
Name={{ iface['dev'] }}
{% if iface['type'] == 'vlan' %}
Kind=vlan

[VLAN]
Id={{ iface['subnet_id'] }}
{% endif %}
