{# vim: ts=8:sw=8:sts=8:noet:ft=jinja2

Configures interfaces on an OpenBSD host, including CARP and VLANs.

Interfaces are configured according to variables available. Routes and
pf tables are also configured.

#}
{{	default_comment_header
	| comment(	prefix=default_comment_prefix | default(),
			postfix=default_comment_postfix | default() ) }}
{% if iface['description'] is defined %}
description "{{iface['description']}}"
{% endif %}
{% if iface['type'] == 'carp' %}

# CARP
vhid {{iface['vhid']}}
pass {{carp_pass}}
carpdev {{ vlan_var['dev'] | default(phy_iface_item['dev']) }}
advskew {{advskew}}
{% endif %}
{% if iface['type'] =='vlan' %}

# VLAN
vnetid {{iface['subnet_id']}} parent {{phy_iface_item['dev']}}
{% endif %}

# Bring Up {{iface['dev']}}
up
{% if iface['type'] == 'phy' %}
mtu {{iface['mtu']}}
{% endif %}

# Addresses
{% if iface['rand_mac'] %}
lladdr random
{% endif %}
{% if iface['dhcp4'] %}
dhcp
{% elif iface_ip4 != '' %}
inet {{iface_ip4}}/{{iface['prefix4']}}
{% endif %}
{% if iface['subnet'] is defined %}
group {{iface['subnet']}}
{% endif %}

{#

All routing interfaces should be configured with CARP, so we limit
route configuration to CARP interfaces.

#}
{% if iface['routes'][0] is defined %}

# Route
{% for route in iface['routes'] %}
!route add {{route['dest']}} {{route['hop']}}
{% endfor %}
{% endif %}

{#-

All LAN networks must be /24 to support the 10.X.Y.Z schema

#}
{% if iface['client'] is defined and iface['type'] != 'carp' %}

# PF Tables
{% for pf_table in net['client'] %}
{#- All connected networks are added to the client tables -#}
!pfctl -t {{pf_table}}-c -T add {{iface['subnet_addr']}}
{% for route in iface['routes'] | default([]) %}
!pfctl -t {{pf_table}}-c -T add {{route['dest']}}
{% endfor %}
{% endfor %}
{% elif iface['type'] == 'carp' %}
!pfctl -t carp -T add {{ vlan_var['dev'] | default(phy_iface_item['dev']) }}
{% endif %}
