{# vim: ts=8:sw=8:sts=8:noet:ft=jinja2

Configures interfaces on an OpenBSD host, including CARP and VLANs.

Interfaces are configured according to variables available. Routes and
pf tables are also configured.

#}
{{	default_comment_header
	| comment(	prefix=default_comment_prefix | default(),
			postfix=default_comment_postfix | default() ) }}

description "{{	current_iface['description']
		| default(	current_net['description']
				| default() ) }}"
{% if current_carp is defined %}

# CARP
vhid {{current_iface['vhid']}}
pass {{carp_pass}}
carpdev {{ current_vlan['dev'] | default(iface_item['dev']) }}
advskew {{advskew}}
{% endif %}
{% if current_vlan is defined and current_carp is undefined %}

# VLAN
vnetid {{current_net['id']}} parent {{iface_item['dev']}}
{% endif %}

# Bring Up {{current_iface['dev']}}
up
{% if	current_carp is undefined and
	current_vlan is undefined and
	current_mtu | int != 1500 %}
mtu {{current_mtu}}
{% endif %}

# Addresses
{% if current_iface['random_mac'] | default(true) %}
lladdr random
{% endif %}
{% if current_iface['net'] is defined %}
{% if not current_iface_ip in ['dhcp', ''] %}
inet {{current_iface_ip}}/{{current_mask}}
{% elif current_iface_ip == 'dhcp' %}
dhcp
{% endif %}
group {{current_iface['net']}}
{% endif %}

{#

All routing interfaces should be configured with CARP, so we limit
route configuration to CARP interfaces.

#}
{% if	current_net['route'][0] is defined and
	(	current_carp is defined or
		current_iface['net'] == 'rescue' ) %}

# Route
{% for route in current_net['route'] %}
!route add {{route['dest']}} {{route['hop'][0]}}
{% endfor %}
{% endif %}

{#-

All LAN networks must be /24 to support the 10.X.Y.Z schema

#}
{% if current_net['client'] is defined and current_carp is undefined %}

# PF Tables
{% for pf_table in current_net['client'] %}
{#- All connected networks are added to the client tables -#}
!pfctl -t {{pf_table}}-c -T add {{current_net_addr}}
{% for route in current_net['route'] | default([]) %}
!pfctl -t {{pf_table}}-c -T add {{route['dest']}}
{% endfor %}
{% endfor %}
{% elif current_carp is defined %}

# PF Tables
!pfctl -t carp -T add {{	current_vlan['dev']
				| default(iface_item['dev']) }}
{% endif %}
