---
# vim: ts=2:sw=2:sts=2:et:ft=yaml.ansible
#
# Configure networks, interfaces and hostname
#
########################################################################

- name: Define the network
  ansible.builtin.include_tasks: defs.yml

- name: Configure the network
  ansible.builtin.include_tasks: cfg_net.yml
  loop: "{{ansible_play_hosts}}"
  loop_control:
    loop_var: host_item

- name: Flush handlers to bring up any newly configured interfaces
  ansible.builtin.meta: flush_handlers

# Currently only Linux, but still use first_found to avoid hard coding
# any platforms in the main tasks file.
- name: Configure network control services
  ansible.builtin.include_tasks: "{{lookup('first_found', files_var)}}"
  vars:
    files_var:
      files:
      - "cfg_net_ctl_{{ansible_system}}.yml"
      - /dev/null
      paths:
      - tasks/

- name: Configure hostname
  ansible.builtin.include_tasks: cfg_hostname.yml
