# vim: ts=2:sw=2:sts=2:et:ft=yaml.ansible
#
# Setup variables for use in interface configuration
#
# Call this before configuring an interface (including CARP and VLAN).
#
########################################################################

# Precedence follows CARP, VLAN then physical interface
- name: "Current interface is {{iface_var['dev']}}"
  ansible.builtin.set_fact:
    current_iface: "{{iface_var}}"
  vars:
    iface_var: "{{ carp_var | default( vlan_item | default(iface_item) ) }}"

- name: >
    The configured network for {{current_iface['dev']}} is
    {{ current_iface['net'] | default('undefined') }}
  ansible.builtin.set_fact:
    current_net: "{{ net[ current_iface['net'] | default() ] | default({}) }}"

- name: >
    The current IP for {{current_iface['dev']}} is
    {{ iface_var['ipv4'][0]['address'] | default('undefined') }}
  ansible.builtin.set_fact:
    current_iface_ip: "{{ iface_var['ipv4'][0]['address']
                          | default(  iface_var['ipv4']['address']
                                      | default() ) }}"
  when: current_iface['dev'] is defined
  vars:
    iface_var: "{{ ansible_facts[current_iface['dev']] | default({}) }}"

- name: "The subnet mask is {{ current_net['mask'] | default('24') }} (CIDR)"
  ansible.builtin.set_fact:
    current_mask: "{{ current_net['mask'] | default('24') }}"

- name: Initialize current network address
  ansible.builtin.set_fact:
    current_net_addr: ''

- name: "The network address is {{  net_var
                                    | ansible.netcommon.ipaddr('subnet')
                                    | default('undefined') }}"
  ansible.builtin.set_fact:
    current_net_addr: "{{ net_var | ansible.netcommon.ipaddr('subnet') }}"
  when: current_net['addr'] is defined
  vars:
    net_var: "{{ current_net['addr'][0] + '/' + current_mask | string }}"

- name: "The network address is {{net_ip}}/{{current_mask}}"
  ansible.builtin.set_fact:
    current_net_addr: "{{net_ip}}/{{current_mask}}"
  when:
    - current_iface['net'] is defined
    - current_net['id'] | default(256) | int < 256
  vars:
    net_ip: "10.{{site['id']}}.{{ current_net['id'] | default('1') }}.0"
